global
    daemon
    maxconn 2048
    tune.ssl.default-dh-param 2048
    log   127.0.0.1 local2
    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL). This list is from:
    #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
    ssl-default-bind-options no-sslv3

defaults
    mode    http
    log     global
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend www-https
    bind *:80
    bind *:443 ssl crt /certs/combined.pem
    option forwardfor
    http-request add-header X-Proto https
    http-request add-header X-Forwarded-Proto https
    http-request add-header X-Client-IP %[src]
    http-request set-header Scheme https
    default_backend eval-engine

backend eval-engine
    redirect scheme https if !{ ssl_fc }
    server eval_engine eval-engine:8000 check
